<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="https://lh4.googleusercontent.com/QeS6N-D44_rZT02WBcVh8ayCOqQJ3mIbVTM7nBZs2TcOD1zhbryCxnybU_Q4AdQ8DhM3dmZMmtRoN8IphEHpT6g=w16383">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <title>MIT MultiEarth Challenge Leaderboards</title>

</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 d-flex flex-column align-items-center justify-content-center">
                <h2 text-align="center">MIT MultiEarth Challenge</h2>
                <h4>Image Translation Challenge</h4>
		<p>Evaluation is run every 30 minutes, if you don't see your results within 2 hours, please email multiearth2023@gmail.com.com & bmswens@mit.edu</p>
        <p>Note: Leaderboards are disabled on the evaluation server.</p>
        <p>Before zipping, please see 'View Submission Format' for the exact format.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3 d-flex justify-content-center">
                <a href="./submit"><button class="btn-primary">Submit An Entry</button></a>
            </div>
            <div class="col-3 d-flex justify-content-center">
                <a href="./api/expected-files"><button class="btn-primary">View Submission Format</button></a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6 d-flex justify-content-center">
                <h3>Leaderboards</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Rank</th>
                            <th scope="col">Team</th>
                            <th scope="col">Eq(1) Metric</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in ranks %}
                        <tr>
                            <td>{{ entry.rank }}</td>
                            <td>{{ entry.team }}</td>
                            <td>{{ entry.score }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>
